


<h4><%= @post.title %></h4>
    <img src="<%= @post.image_url" alt="<%= post.title %>" height="200" width="200">
    <strong> Created at: <%= @post.created_at %></strong>
    <p><%= @post.description %></p>
    <p>by:<%= @post.user.name %></p>
        